<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>
<body class="bg-pink-500 p-4">
<h1 class='text-3xl font-normal'>Home plus</h1>
{% if message %}
Client_id: <h2 id="client_id">  {{ message }} </h2>
{% endif %}

<ul id='ul-text' class="mx-4"></ul>
<form id="form" class="my-4 ">
<input type="text" name="text" id="input-text" class="mx-4 py-2 px-4 rounded">
<button type="submit" class=" bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Отправить</button>
</form>
<input type="hidden" id="username" value="{{ current_user.username }}">
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js" integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        const username = document.getElementById('username').value
        console.log(username)
        const client_id = document.querySelector('#client_id').innerText;
        console.log(client_id)
        const ul = document.querySelector('#ul-text')
        const form = document.querySelector('#form')
        const input = document.querySelector('#input-text')
        const socket = io.connect('http://localhost:5000');
        socket.on("connect", () => {
            console.log('connected');
            socket.send({data: 'connected'})
            socket.emit('join', {'room': client_id, 'username': 'web-client'})
          });
        
        socket.on('message', (message)=>{
            let li = document.createElement('li')
            li.innerText = message
            ul.append(li)
        })
        form.addEventListener('submit', (event) => {
            // эмитирует событие на сервер room message
            socket.emit('room message', {'data': input.value, 'room': client_id})
            event.preventDefault()
        })
        socket.on('broadcast message', (message)=>{
            let li = document.createElement('li')
            li.innerText = message['data']
            console.log(message)
            ul.append(li)
        })
    </script>
</body>
</html>